* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#container {
    max-width: 60rem;
    margin: 0 auto;

}

.find-location {
    position: relative;
    margin: 40px 0;

}

.find-location input[type="text"] {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: white;
    color: #7b687b;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    border: 0.075rem solid white;
}

.find-location input[type="text"]:focus {
    box-shadow: none;
    border: 0.075rem solid #7b687b;
}

.find-location button {
    border: none;
    background: #7b687b;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
}

form input {
    outline: none;
    padding: 10px;
    border-radius: 30px;
}
.cover-black{
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    height: 34rem;
    border-radius: 10px;
}

.weather-info {
    border-radius: 10px;
    background-image: url("https://images.pexels.com/photos/262325/pexels-photo-262325.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 34rem;
/*    background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
#todays_temp{
    display: grid;
    margin: 0 0 10px 0;
}
.forecast-header{
    margin: 50px 100px 0px 100px;
    color: white;
    grid-column: 1/2;
    max-height: 90px;
}
.forecast-content{
    margin: 85px 0px 5px 0;
    color: white;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/9;
}
.threehrtemp{
    font-size: 1rem;
    grid-column: 1/2;
    color: #fff;
    margin: 5px 120px 0;
}
#element1{
    grid-row: 2/3;
    margin: 25px 120px 0;
}
#element2{
    grid-row: 3/4;
}
#element3{
    grid-row: 4/5;
}
#element4{
    grid-row: 5/6;
}
#element5{
    grid-row: 6/7;
}
#element6{
    grid-row: 7/8;
}
#element7{
    grid-row: 8/9;
}
.day,.date{
    display: inline-block;
    font-size: 1.2rem;
}
.location{
    font-size: 3rem;
}
.num{
    font-size: 5rem;
    padding: 0 30px;
}
.num span{
    font-size: 6rem;
}
.extra-info{
    text-align: center;
    margin: 25px 15px;
}
.extra-info>span{
   margin-left:  10px; 
}
#humidity, #wind-speed, #wind-degree{
    font-size: 1.2rem;
}
.clearfix{
    clear: both;
}

#nextdays_temp{
    position: relative;
}
.cover-white{
    background-color: rgba(255,255,255,0.7);
    z-index: 11;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.nextdays_forecast{
    text-align: center;
    padding: 20px;
    
}
.nextday{
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    width: 70px;
    display: inline-block;
    padding: 2px 0;
}
.nextdays_forecast .forecast-icon{
    margin-bottom: 5px;
}
.nextdays_forecast .nextday{
    margin-bottom: 15px;
}
.nextdays_forecast .day{
    font-size: 0.8rem;
}
.nextdays_forecast .temp{
    font-size: 1.5rem;
}
.threehrtemp .time{
display: inline-block;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 3px 7px;
    font-size: .7rem;
}
.threehrtemp .num{
    display: inline-block;
    font-size: 1rem;
}
.threehrtemp .number{
    font-size: 1rem;
}
